

<div class="card text-white   w-100"  >
  <div>
  <h5 class="card-title">12/11/2022</h5>
    <p class="card-text">STADE : 974</p>

  </div>
  <div class="card-body text-center">
    <h5 class="card-title">Match </h5>
    <p> <img src="../assets/tun.jpg" width="60px" alt=""><span> VS </span> <img src="../assets/Ksa.png" width="60px" alt="" > </p>
    <p> Tunisia Vs  Saudi Arabia</p>
    <p>arbitre : Chen Chao-Yen Alex  </p>


  </div>
  <button routerLink="/Vente">buy ticket</button>
  <hr class="new5">
</div>


<div class="card text-white   w-100"  >
  <div>
  <h5 class="card-title">13/11/2022</h5>
    <p class="card-text">STADE : Khalifa International Staduim</p>

  </div>
  <div class="card-body text-center">
    <h5 class="card-title">Match </h5>
    <p> <img src="../assets/Spain.png" width="60px" alt=""><span> VS </span> <img src="../assets/south korea.jpg" width="60px" alt="" > </p>
    <p> Spain Vs  South Korea</p>
    <p>arbitre : Fournier Marie José  </p>


  </div>
  <button routerLink="/Vente">buy ticket</button>

  <hr class="new5">
</div>

<div class="card text-white   w-100"  >
  <div>
  <h5 class="card-title">14/11/2022</h5>
    <p class="card-text">STADE : Stade d'Al-Thumama</p>

  </div>
  <div class="card-body text-center">
    <h5 class="card-title">Match </h5>
    <p> <img src="../assets/ger.png" width="60px" alt=""><span> VS </span> <img src="../assets/colum.jpg" width="60px" alt="" > </p>
    <p> Germany VS Columbia</p>
    <p>arbitre : Torbidoni Marina  </p>


  </div>
  <button routerLink="/Vente">buy ticket</button>

  <hr class="new5">
</div>

<div class="card text-white   w-100"  >
  <div>
  <h5 class="card-title"></h5>
  <h5 class="card-title">15/11/2022</h5>
 <p class="card-text">STADE : Education City Stadium</p>

  </div>
  <div class="card-body text-center">
    <h5 class="card-title">Match </h5>
    <p> <img src="../assets/arg.png" width="60px" alt=""><span>VS</span>  <img src="../assets/por.jpg" width="60px" alt="" > </p>
    <p> Argentine VS Portugal</p>
    <p>arbitre : Vlamir Johan  </p>


  </div>
  <button routerLink="/Vente">buy ticket</button>

  <hr class="new5">
</div>

<div class="card text-white   w-100"  >
  <div>
  <h5 class="card-title">16/11/2022</h5>
    <p class="card-text">STADE : Stade Al Bayt</p>

  </div>
  <div class="card-body text-center">
    <h5 class="card-title">Match </h5>
    <p> <img src="../assets/jap.jpg" width="60px" alt=""><span> VS </span> <img src="../assets/brazil.png" width="60px" alt="" > </p>
    <p> Japan VS Brazil</p>
    <p>arbitre : Hubin Olivier  </p>


  </div>
  <button routerLink="/Vente">buy ticket</button>

  <hr class="new5">
</div>

<div class="card text-white   w-100"  >
  <div>
  <h5 class="card-title">17/11/2022</h5>
    <p class="card-text">STADE: Stade Ahmed-ben-Ali</p>

  </div>
  <div class="card-body text-center">
    <h5 class="card-title">Match </h5>
    <p> <img src="../assets/sen.jpg" width="60px" alt=""><span> VS </span> <img src="../assets/nig.png" width="60px" alt="" > </p>
    <p> Senegal VS Nigeria</p>
    <p>arbitre : Beaumont Peter  </p>


  </div>
  <button routerLink="/Vente">buy ticket</button>

  <hr class="new5">
</div>


