liste des match
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">match</th>
      <th scope="col">date</th>
      <th scope="col">stade</th>
      <th scope="col">arbitre</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr  >
      <th scope="row">1</th>
      <td>tunisie vs Saudi arabie</td>
      <td>12/11/2022</td>
      <td>STADE : 974</td>
      <td>Chen Chao-Yen Alex</td>
     <td>
      <button type="button" class="btn btn-danger"  (click)="delete(1)" >Supprimer</button>
      <button type="button" class="btn btn-warning" (click)="modifier(1)">Modifier</button>
     </td>
   </tr>


   <tr  >
    <th scope="row">2</th>
    <td>Spain vs South Korea</td>
    <td>13/11/2022</td>
    <td>STADE : Khalifa International Staduim</td>
    <td> Fournier Marie José</td>
   <td>
    <button type="button" class="btn btn-danger"  (click)="delete(2)" >Supprimer</button>
    <button type="button" class="btn btn-warning" (click)="modifier(2)">Modifier</button>
   </td>
 </tr>


 <tr  >
  <th scope="row">3</th>
  <td>Germany vs Columbia</td>
  <td>14/11/2022</td>
  <td>STADE : Stade d'Al-Thumama</td>
  <td>Torbidoni Marina</td>
 <td>
  <button type="button" class="btn btn-danger"  (click)="delete(3)" >Supprimer</button>
  <button type="button" class="btn btn-warning" (click)="modifier(3)">Modifier</button>
 </td>
</tr>


<tr  >
  <th scope="row">4</th>
  <td>Argentine vs Portugal</td>
  <td>15/11/2022</td>
  <td>STADE : Education City Stadium</td>
  <td>Vlamir Johan</td>
 <td>
  <button type="button" class="btn btn-danger"  (click)="delete(4)" >Supprimer</button>
  <button type="button" class="btn btn-warning" (click)="modifier(4)">Modifier</button>
 </td>
</tr>


<tr  >
  <th scope="row">5</th>
  <td>Japan vs Brazil</td>
  <td>16/11/2022</td>
  <td>STADE : Stade Al Bayt  </td>
  <td>Hubin Olivier</td>
 <td>
  <button type="button" class="btn btn-danger"  (click)="delete(5)" >Supprimer</button>
  <button type="button" class="btn btn-warning" (click)="modifier(5)">Modifier</button>
 </td>
</tr>


<tr  >
  <th scope="row">6</th>
  <td>Senegal vs Nigeria</td>
  <td>17/11/2022</td>
  <td>STADE: Stade Ahmed-ben-Ali</td>
  <td>Beaumont Peter</td>
 <td>
  <button type="button" class="btn btn-danger"  (click)="delete(6)" >Supprimer</button>
  <button type="button" class="btn btn-warning" (click)="modifier(6)">Modifier</button>
 </td>
</tr>



  </tbody>
</table>
