<div class="movie-ticket">
  <div class="container-fluid">
    <!-- Item -->
    <div class="ui-item">
      <!-- Head -->
      <div class="ui-head">
        <!-- Background Image -->
        <img src="../assets/ticket1.jpg" alt="" class="img-responsive bg-img">


      </div>
        <!-- Review -->
        <div class="ui-review">
          <!-- Heading -->
          <h3>Ticket </h3>
          <!-- Paragraph -->
          <p>Tunisie vs Saudi Arabia </p>
          <p>Arbitre : Chen Chao-Yen Alex </p>
          <p>Prix : 20 euro  </p>
          <!-- Buttons -->
          <a href="#" class="ui-btn bg-red"><i class="fa fa-ticket"></i> Buy Tickets</a>

        </div>
      </div>
    </div>
</div>
