

<img id="img1" src="../assets/home.jpg" alt="">

<div class="center">
  <h1>History of World Cup</h1>
</div>
<p class="font-weight-bold">Before the World Cup was inaugurated, the football tournament arranged as part of the Summer Olympics was given the most prestige. But in the 1920s, the game was facing a transition to professionalism that wasn't consistent with the Olympic spirit. Therefore, the government body, FIFA, made plans to organize a World Cup. The decision of arranging the first edition was officially declared on May 26, 1928.</p>
<p class="font-weight-bold">
  The first official World Cup was played in Uruguay 1930, and since when the tournament has been held every fourth year (with exceptions for interruption due to the Second World War). There were, however, unofficial pre-FIFA World Cups already in the late 1800s, in a time when only few national teams existed. Another unofficial "world cup" arranged before 1930 was Sir Thomas Lipton Trophy held in 1909 and 1911. Besides that, the Summer Olympic football competitions would be a mark of which the best national teams were before 1930. The Olympic tournaments consisted, however, only of amateur teams – the World Cup became the "real deal".
</p>

<img src="../assets/coupejpeg" alt="">
<div class="container mx-auto mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
  <img src="../assets/france.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">france</h5>
        <h6 class="card-subtitle mb-2 text-muted">2 titres</h6>
    <p class="card-text">The France national football team (French: Équipe de France de football) represents France in men's international football and is controlled by the French Football Federation, also known as FFF, or in French: Fédération française de football..</p>
       <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
    <a href="#" class="btn "><i class="fab fa-github"></i> Github</a>
  </div>
  </div>
    </div>
       <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="../assets/brazil.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">brazil</h5>
        <h6 class="card-subtitle mb-2 text-muted">5 titres</h6>
    <p class="card-text">Brazil is the most successful national team in the FIFA World Cup, being crowned winner five times: 1958, 1962, 1970, 1994 and 2002.</p><br><br><br><br><br><br><br><br>

  </div>
  </div>
    </div>
          <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="../assets/allmand.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Germany</h5>
        <h6 class="card-subtitle mb-2 text-muted">4 titles</h6>
    <p class="card-text">Germany at the World Cup Germany are traditionally a strong team in world football. They have been winners of the FIFA World Cup four times, playing as West Germany in 1954, 1974 and 1990 and as united Germany in 2014..</p><br><br><br><br>

  </div>
  </div>
  </div>

    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
  <img src="../assets/italy.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Italy</h5>
        <h6 class="card-subtitle mb-2 text-muted">4 titles</h6>
    <p class="card-text">The Italy national football team (Italian: Nazionale di calcio dell'Italia) has officially represented Italy in international football since its first match in 1910..</p><br><br><br>

  </div>
  </div>
    </div>
       <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="../assets/argentina.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">argentina</h5>
        <h6 class="card-subtitle mb-2 text-muted">4 titles</h6>
    <p class="card-text">This is a record of Argentina's results at the FIFA World Cup. Argentina is one of the most successful national football teams in the world.</p> <br><br><br>

  </div>
  </div>
    </div>
          <div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img src="../assets/urg.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Uruguay</h5>
        <h6 class="card-subtitle mb-2 text-muted">2 titles</h6>
    <p class="card-text">This is a record of Uruguay's results at the FIFA World Cup. Uruguay have won four FIFA-organized World Football Championships.</p> <br><br>

  </div>
  </div>
  </div>




  </div>
  <footer class="text-center text-white" style="background-color: #DC3545;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="../assets/stade1.jpg"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="../assets/stade2.jpg"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="../assets/stade.jpg"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="../assets/stade4.jpg"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="../assets/stade5.jpg"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img
                src="../assets/stade6.jpg"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(175, 18, 18, 0.2);">
      WELCOME TO QATAR 2022

    </div>
    <!-- Copyright -->
  </footer>


